.Switch{
    position: relative;

    margin: 2em;
    
    width: 10em;
    height: 8em;
}

.switch-track{
    position: absolute;

    width: 7em;
    height: 2em;

    border: 1px solid gray;
    box-shadow: 1px 1px 2px black;
    
    border-radius: 1em;
    background-color: black;
}

.switch-circle{
    position: absolute;
    z-index: 0;
    left: 0;

    height: 4em;
    width: 4em;

    border-radius: 50%;
    border: 1px solid darkred;
    box-shadow: 1px 1px 2px darkred;

    background-color: red;

    transition: 1s;
}

.switch-right{
    left: 5em;
}

.skull{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.skull-on{
    opacity: 1;
}

